

.card:hover {
    box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.15);
    
    background-color: rgb(124, 221, 245);
    color: #fff;
    
  }

.prize__percent {
    color:orange;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    right: .5rem;
    
  }
  .mid{
    margin-left: 50px;
  }

  .prices-amount-old {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.rem;
    margin-left: 40px;
    color: rgb(238, 177, 64);
    text-decoration: line-through;
    text-align:center;
  }

  .bton{
    margin-left: 34em;
    margin-top: 20px;
  }
  .prize__percent2{
    color:orange;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
   
  }

 /* .flex{ 
    display: flex; 
    flex-direction: row;
   justify-content: space-between; 
    gap: 35px;
   align-items: center; 
  }  */
 
 .lg1{
   width: 100vw;
 }
 
.iconb{
  margin-left: 20px;
} 

.svgcolor{
  background-color: dodgerblue;
  color: #fff;
}
.svgcolor2{
  background-color: green;
}
.star1{
  fill: yellow;
}
.btn1{
  background-color: rgb(31, 95, 31); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
