

.card:hover {
    box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.15);
    
    background-color: rgb(236, 75, 102);
    color: #fff;
    
  }

.prize__percent {
    color:orange;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    right: .5rem;
    
  }
  .mid{
    margin-left: 50px;
  }

  .prices-amount-old {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.rem;
    margin-left: 40px;
    color: rgb(238, 177, 64);
    text-decoration: line-through;
    text-align:center;
  }
  